@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
}

h1, h2, h3, h4, .font-playfair {
  font-family: var(--font-playfair), serif;
}
